{:deps {
        com.github.sealedtx/java-youtube-downloader {:mvn/version "2.4.5"}
        org.clojure/tools.trace {:mvn/version "0.7.10"}}

 :mvn/repos
  {"jitpack.io" {:url "https://jitpack.io"}}}

