{:deps {
        com.github.sealedtx/java-youtube-downloader {:mvn/version "3.0.1"}
        org.clojure/tools.trace {:mvn/version "0.7.10"}
        ring/ring-jetty-adapter {:mvn/version "1.8.2"}
        ring/ring-json {:mvn/version "0.5.0"}
        compojure/compojure {:mvn/version "1.6.2"}
        org.clojure/data.json {:mvn/version "1.0.0"}
        byte-streams {:mvn/version "0.2.4"}
        io.github.erdos/erdos.assert {:mvn/version "0.2.3"}
        com.googlecode.mp4parser/isoparser {:mvn/version "1.1.18"}
        com.github.seancorfield/depstar {:mvn/version "2.1.267"}}

 :mvn/repos
  {"jitpack.io" {:url "https://jitpack.io"}}

 :paths ["src" "resources"]

 :aliases
 {
  ; create deployable service JAR including static assets (HTML/CSS/JS) with:
  ; clojure -X:uberjar :jar YoutubeDownloader.jar :main-class youtube-downloader.core
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.267"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true}}}}

